
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Boss.cshtml";
}
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />

<form class="layui-form" action="">
    <table>
        <tr>
            <td><label class="layui-form-label">名称</label></td>
            <td><input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input"></td>
        </tr>
        <tr>
            <td><label class="layui-form-label">颜色</label></td>
            <td>
                <select name="modules" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    <option value="1">红色</option>
                    <option value="2">白色</option>
                    <option value="3">黑色</option>
                    <option value="4">蓝色</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label class="layui-form-label">尺寸</label></td>
            <td><input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"></td>
        </tr>
        <tr>
            <td><label class="layui-form-label">数量</label></td>
            <td><input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入数量" class="layui-input"></td>
        </tr>
        <tr>
            <td><label class="layui-form-label">进价</label></td>
            <td><input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入进价" class="layui-input"></td>
        </tr>
        <tr>
            <td><label class="layui-form-label">定价</label></td>
            <td><input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入定价" class="layui-input"></td>
        </tr>
        <tr>
            <td><label class="layui-form-label">图片</label></td>
            @*<div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>*@
            <td><input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"></td>
        </tr>
    </table>
    </div>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<script src="~/layui-v2.4.5/layui/layui.all.js"></script>
<div class="layui-upload">
    <button type="button" class="layui-btn" id="test1">上传图片</button>
    <div class="layui-upload-list">
        <img class="layui-upload-img" id="demo1">
        <p id="demoText"></p>
    </div>
</div>
<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/upload/'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        //拖拽上传
        upload.render({
            elem: '#test10'
            , url: '/upload/'
            , done: function (res) {
                console.log(res)
            }
        });
</script>