
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Boss.cshtml";
}
<div>
    <table>
        <tr>
            <td>日利润</td>
            <td></td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
            <td>日利润</td>
            <td></td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr>
            <td>日利润</td>
            <td></td>
        </tr>
    </table>
</div>

