
@{
    ViewBag.Title = "Xiu";
    Layout = "~/Views/Employees.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<style>
    table {
        border-collapse: separate;
        border-spacing: 10px;
    }
</style>
<div class="layui-anim layui-anim-scale" data-anim="layui-anim-scale">
    <table>
        <tr>
            <td>顾客姓名：</td>
            <td><input id="CName" type="text" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" /></td>
            <td><span id="CNametxt" style="display:none;color:red">姓名格式不正确</span></td>
        </tr>

        <tr>
            <td>电话：</td>
            <td><input id="CPhone" type="text" required lay-verify="required" placeholder="请输入电话" autocomplete="off" class="layui-input" /></td>
            <td><span id="CPhonetxt" style="display:none;color:red">电话格式不正确</span></td>
        </tr>
        <tr>
            <td>积分：</td>
            <td><input id="Credits" type="text" required lay-verify="required" value="0" autocomplete="off" class="layui-input" readonly="readonly" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="layui-btn layui-btn-radius layui-btn-normal" onclick="tian()">添加</button></td>

        </tr>
    </table>
    <div>
        <table id="table" class="layui-table">
            <thead>
                <tr>
                    <td>姓名</td>
                    <td>电话</td>
                    <td>积分</td>
                </tr>
            </thead>
            <thead id="G_xian">
            </thead>
        </table>
        <div id="demo7"></div>
    </div>

</div>









<script>
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;
        $.ajax({
            url: "http://localhost:55237/api/Customer/ControllerGet",
            type: 'get',
            dataType: 'Json',
            success: function (data) {
                $("#Goods_xian").empty();// 清空TBODY的内容，重新加载
                for (var i in data) {
                    //完整功能
                    laypage.render({
                        elem: 'demo7'
                        , count: data.length

                        , layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip']
                        , limit: 5
                        , jump: function (obj) {
                            document.getElementById('G_xian').innerHTML = function () {
                                var arr = []
                                    , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                layui.each(thisData, function (index, item) {
                                    arr.push('<tr><td>' + item.CName + '</td><td>' + item.CPhone + '</td><td>' + item.Credits + '</td></tr >');
                                });
                                return arr.join('');
                            }();
                        }
                    });
                }

            }
        })
    });

    function tian() {
        var CName = $("#CName").val();
        var CPhone = $("#CPhone").val();
        var Credits = $("#Credits").val();
        var phoneReg = /(^1[3|4|5|7|8|9]\d{9}$)|(^09\d{8}$)/;
        var nameReg = /^[\u4E00-\u9FA5]{2,4}$/;
        if (!nameReg.test(CName)) {
            document.getElementById("CNametxt").style.display = "";

        }
        else if (!phoneReg.test(CPhone)) {
            document.getElementById("CPhonetxt").style.display = "";
        }
        else {
            $.ajax({
                url: "http://localhost:55237/api/Customer/ControllerAdd",
                data: { CName: CName, CPhone: CPhone, Credits: Credits },
                dataType: "json",
                type: "post",
                success: function (data) {
                    if (data) {
                        alert("添加成功");

                        location.reload();
                    }
                    else {
                        alert("添加失败");
                    }

                }


            })
        }


    }

</script>






@*<script>
        function tian() {
            var CName = $("#CName").val();
            var CPhone = $("#CPhone").val();
            var Credits = $("#Credits").val();
            var phoneReg = /(^1[3|4|5|7|8|9]\d{9}$)|(^09\d{8}$)/;
            var nameReg = /^[\u4E00-\u9FA5]{2,4}$/;
            if (!nameReg.test(CName)) {
                document.getElementById("CNametxt").style.display = "";

            }
            else if (!phoneReg.test(CPhone)) {
                document.getElementById("CPhonetxt").style.display = "";
            }
            else {
                $.ajax({
                    url: "http://localhost:55237/api/Customer/ControllerAdd",
                    data: { CName: CName, CPhone: CPhone, Credits: Credits },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data) {
                            alert("添加成功");

                            location.reload();
                        }
                        else {
                            alert("添加失败");
                        }

                    }


                })
            }


        }

        $(function () {

            $.ajax({
                url: "http://localhost:55237/api/Customer/ControllerGet",
                dataType: "json",
                type: "get",
                success: function (data) {
                    $(data).each(function () {
                        $("#dt").append(
                            "<tr>" +
                            "<td>" + this.CName + "</td>" +
                            "<td>" + this.CPhone + "</td>" +
                            "<td>" + this.Credits + "</td>" +
                            "</tr>");

                    })

                }
            })

        })
    </script>*@

