<!DOCTYPE HTML>
<script src="~/js/easyResponsiveTabs.js"></script>
<script src="~/js/hover_pack.js"></script>
<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/js/jquery.etalage.min.js"></script>
<script src="~/js/responsiveslides.min.js"></script>
<script src="~/js/nav.js"></script>
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/etalage.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/layui/css/layui.mobile.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<script src="~/layui/layui.all.js"></script>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashionpress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><img src="~/images/logo.png" /></a>
                </div>
                <ul class="shopping_grid">
                    <a href="#"><li>个人信息</li></a>
                    <a href="#">
                        <li>
                            <span class="m_1">个人密码修改</span>@*&nbsp;&nbsp;(0) &nbsp;*@
                            <img src="~/images/bag.png" />
                        </li>
                    </a>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="h_menu4">
            <!-- start h_menu4 -->
            <div class="container">
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li class="active"><a href="/Achievements/Zhuye" data-hover="Home">主页</a></li>
                    <li><a href="/Achievements/GetAchievements" data-hover="About Us">销售排行</a></li>
                    <li><a href="careers.html" data-hover="Careers">商品查询</a></li>
                    <li><a href="contact.html" data-hover="Contact Us">商品销售</a></li>
                    <li><a href="/Customer/ZhuCe" data-hover="Company Profile">顾客注册</a></li>
                   
                </ul>
                <script type="text/javascript" src="js/nav.js"></script>

            </div><!-- end h_menu4 -->
        </div>
        
    </div>

    @RenderBody()

    @*<div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                    <img src="~/images/banner1.jpg"  class="img-responsive" alt="" />
                    <div class="banner_desc">
                        <h1>We Provide Worlds top fashion for less fashionpress.</h1>
                        <h2>FashionPress the name of the of hi class fashion Web FreePsd.</h2>
                    </div>
                </li>
                <li>
                    <img src="~/images/1P414135Z0-6.jpg" class="img-responsive" alt="" />
                    <div class="banner_desc">
                        <h1>Duis autem vel eum iriure dolor in hendrerit.</h1>
                        <h2>Claritas est etiam processus dynamicus, qui sequitur .</h2>
                    </div>
                </li>
                <li>
                    <img src="~/images/20180629134957782.jpg" class="img-responsive" alt=""/>
                    <div class="banner_desc">
                        <h1>Ut wisi enim ad minim veniam, quis nostrud.</h1>
                        <h2>Mirum est notare quam littera gothica, quam nunc putamus.</h2>
                    </div>
                </li>
            </ul>
        </div>*@
    @*</div>*@
    @*<div class="column_center">
            <div class="container">
                <div class="search">
                    <div class="stay">查找</div>
                    <div class="stay_right">
                        <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                        <input type="submit" value="">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>*@
</body>
</html>


